<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ozer</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link href="../../assets/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="../../img/logo.svg" alt="Ozer.bot" />
          </a>
          <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasHeader"
            aria-controls="offcanvasHeader"
            aria-label="Menú"
          >
            <span class="material-symbols-outlined" aria-hidden="true">
              menu
            </span>
          </button>
          <div
            class="offcanvas-lg offcanvas-end"
            tabindex="-1"
            id="offcanvasHeader"
            aria-labelledby="offcanvasHeaderLabel"
          >
            <div class="offcanvas-header">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                data-bs-target="#offcanvasHeader"
                aria-label="Cerrar"
              >
                <span class="material-symbols-outlined" aria-hidden="true">
                  close
                </span>
              </button>
            </div>
            <div class="offcanvas-body">
              <div>
                <div class="user-data d-lg-none">
                  <p class="mb-2 h4">Ariel</p>
                  <p class="mb-0 text-secondary">+346647384</p>
                </div>
                <div class="offcanvas-container-top">
                  <a href="#" class="offcanvas-link">
                    <div class="offcanvas-link__text">
                      <span
                        class="material-symbols-outlined"
                        aria-hidden="true"
                      >
                        keyboard_command_key
                      </span>
                      <span>Comandos</span>
                    </div>
                    <span
                      class="material-symbols-outlined d-lg-none"
                      aria-hidden="true"
                    >
                      chevron_right
                    </span>
                  </a>
                  <hr />
                  <a href="#" class="offcanvas-link">
                    <div class="offcanvas-link__text">
                      <span
                        class="material-symbols-outlined"
                        aria-hidden="true"
                      >
                        help
                      </span>
                      <span>Ayuda</span>
                    </div>
                    <span
                      class="material-symbols-outlined d-lg-none"
                      aria-hidden="true"
                    >
                      chevron_right
                    </span>
                  </a>
                  <hr />
                  <div class="dropdown">
                    <button
                      type="button"
                      class="btn dropdown-toggle"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <div class="offcanvas-link__text">
                        <span
                          class="material-symbols-outlined d-lg-none"
                          aria-hidden="true"
                        >
                          language
                        </span>
                        <span>Español</span>
                      </div>
                      <span
                        class="material-symbols-outlined btn-dropdown-icon"
                        aria-hidden="true"
                      >
                        expand_more
                      </span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><button class="dropdown-item">English</button></li>
                      <li><button class="dropdown-item">Deutsch</button></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="offcanvas-container-bottom">
                <button class="offcanvas-logout" aria-label="Cerrar sesión">
                  <span class="d-lg-none">Cerrar sesión</span>
                  <span class="material-symbols-outlined" aria-hidden="true">
                    logout
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="main-container mt-3">
      <section class="container padding-x-sm-none">
        <div class="row install-section">
          <!-- Navegacion vertical -->
          <div class="col-12 col-lg-4 install-section__item">
            <div class="user-data d-none d-lg-block">
              <p class="mb-2 h4">Ariel</p>
              <p class="mb-0 text-secondary">+346647384</p>
            </div>
            <nav class="container padding-x-lg-none mb-4">
              <ul class="nav aside-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">
                    <span
                      class="material-symbols-outlined d-none d-lg-block"
                      aria-hidden="true"
                    >
                      settings
                    </span>
                    <span class="body-1 d-lg-none">General</span>
                    <span class="body-1 d-none d-lg-block"
                      >Configuración general</span
                    >
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span
                      class="material-symbols-outlined d-none d-lg-block"
                      aria-hidden="true"
                    >
                      person
                    </span>
                    <span class="body-1 d-lg-none">Contactos</span>
                    <span class="body-1 d-none d-lg-block"
                      >Configuración de contactos</span
                    >
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span
                      class="material-symbols-outlined d-none d-lg-block"
                      aria-hidden="true"
                    >
                      groups
                    </span>
                    <span class="body-1 d-lg-none">Grupos</span>
                    <span class="body-1 d-none d-lg-block"
                      >Configuración de grupos</span
                    >
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- Navegacion vertical Fin -->
          <div class="col-12 col-lg-8 install-section__item mb-lg-3">
            <div class="pb-0 rounded-0 rounded-lg-4">
              <div class="config-header">
                <h1 class="mb-3 h4">Configuración general</h1>
                <hr class="sections-box__divisor custom-margin mt-4 mb-0" />
              </div>

              <!-- Formulario -->
              <form class="body-2">
                <div class="form-bg">
                  <p class="fw-bold mb-2">
                    Modo de transcripción para contactos
                  </p>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="flexRadio"
                      id="flexRadio1"
                      checked
                    />
                    <label class="form-check-label" for="flexRadio1">
                      Transcribir en el mismo chat
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="flexRadio"
                      id="flexRadio2"
                    />
                    <label class="form-check-label" for="flexRadio2">
                      Transcribir en mi chat privado
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="flexRadio"
                      id="flexRadio3"
                    />
                    <label class="form-check-label" for="flexRadio3">
                      No transcribir
                    </label>
                  </div>
                  <p class="fw-bold mb-2 mt-4">
                    Modo de transcripción para contactos
                  </p>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault1"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                      Transcribir en el mismo chat
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault2"
                    />
                    <label class="form-check-label" for="flexRadioDefault2">
                      Transcribir en mi chat privado
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault3"
                      checked
                    />
                    <label class="form-check-label" for="flexRadioDefault3">
                      No transcribir
                    </label>
                  </div>
                  <p class="fw-bold mb-2 mt-4">Mensajes de voz salientes</p>
                  <p class="mb-3 body-3 text-secondary">
                    Al habilitar esta configuración, también se transcribirán
                    los mensajes de voz que envíes a tus contactos
                  </p>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="flexRadioDefault"
                      id="flexCheckboxDefault1"
                      checked
                    />
                    <label class="form-check-label" for="flexCheckboxDefault1">
                      Transcribir mis mensajes de voz
                    </label>
                  </div>
                </div>

                <div class="form-footer">
                  <!--  ====== Toast ====== -->
                  <div class="toast-container-position">
                    <div class="toast-container custom-toast">
                      <!-- === Toast éxito Config === -->
                      <div
                        id="successConfigToast"
                        class="toast toast-success"
                        role="alert"
                        aria-live="assertive"
                        aria-atomic="true"
                      >
                        <span
                          class="material-symbols-outlined"
                          aria-hidden="true"
                        >
                          check_circle
                        </span>
                        <span class="toast-content__text"
                          >Configuración guardada con éxito</span
                        >
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="toast"
                          aria-label="Cerrar"
                        >
                          <span
                            class="material-symbols-outlined"
                            aria-hidden="true"
                          >
                            close
                          </span>
                        </button>
                      </div>
                      <!-- === Toast éxito Config Fin === -->

                      <!-- === Toast danger === -->
                      <!-- <div
                        id="dangerConfigToast"
                        class="toast toast-danger"
                        role="alert"
                        aria-live="assertive"
                        aria-atomic="true"
                      >
                        <span
                        class="material-symbols-outlined"
                        aria-hidden="true"
                        >
                        error
                        </span>
                        <span class="toast-content__text"
                        >Ha ocurrido un error, intenta nuevamente</span
                        >
                        <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="toast"
                        aria-label="Cerrar"
                        >
                        <span
                            class="material-symbols-outlined"
                            aria-hidden="true"
                        >
                            close
                        </span>
                        </button>
                      </div> -->
                      <!-- === Toast danger Fin === -->
                    </div>
                  </div>
                  <!-- ====== Toast Fin ====== -->
                  <div class="box-btn-mobile">
                    <button
                      type="button"
                      class="btn btn-primary btn-lg w-100 w-sm-auto ms-sm-auto"
                      id="configToastBtn"
                    >
                      Guardar cambios
                    </button>
                  </div>
                </div>
              </form>
              <!-- Formulario Fin-->
            </div>
          </div>
        </div>
      </section>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>

    <!-- Toast script -->
    <script>
      const configToastTrigger = document.getElementById("configToastBtn");
      const successConfigToast = document.getElementById("successConfigToast");
      const dangerConfigToast = document.getElementById("dangerConfigToast");
      const scrollToBottom = () => {
        window.scrollTo({
          top: document.body.scrollHeight,
          behavior: "smooth",
        });
      };
      if (configToastTrigger) {
        if (successConfigToast) {
          const successToastBootstrap =
            bootstrap.Toast.getOrCreateInstance(successConfigToast);
          configToastTrigger.addEventListener("click", () => {
            successToastBootstrap.show();
            scrollToBottom();
          });
        }
        if (dangerConfigToast) {
          const dangerToastBootstrap =
            bootstrap.Toast.getOrCreateInstance(dangerConfigToast);
          configToastTrigger.addEventListener("click", () => {
            dangerToastBootstrap.show();
            scrollToBottom();
          });
        }
      }
    </script>
  </body>
</html>
