.alert-info {
  --bs-alert-bg: var(--info-secondary-bg-color);
  --bs-alert-border: 2px solid var(--info-border-color);
  --bs-alert-border-color: var(--info-border-color);
}
.alert-outline.alert-success {
  background-color: var(--white);
  border: 2px solid var(--success-border-color);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  color: var(--success-text-color);
  padding: 14px;
}

.alert-outline.alert-success .material-symbols-outlined {
  color: var(--success-bg-color);
}
.alert-outline.alert-success .btn-close {
  background-image: none;
  padding: 0;
  margin-right: 0;
  margin-top: 0;
  height: 1.5rem;
  width: 1.5rem;
  opacity: 1;
  position: relative;
}
.alert-outline.alert-success .btn-close .material-symbols-outlined {
  color: var(--success-text-color);
}
.alert-outline.alert-success
  span:not(.btn-close):not(.material-symbols-outlined) {
  flex-grow: 1;
}
