.btn {
  font-size: var(--font-size-body-1);
  line-height: var(--line-height-body-1);
}
/* Tamaño grande */
.btn-lg {
  line-height: var(--line-height-body-1);
  padding-top: 14.4px;
  padding-bottom: 14.4px;
  min-height: 48px;
}
/* Variantes */
.btn.btn-primary,
.btn.btn-outline-primary,
.btn.btn-outline-success,
.btn.btn-success,
.btn.btn-outline-danger,
.btn.btn-danger {
  border: none;
  outline: 1px solid transparent;
  outline-offset: -1px;
}
.btn.btn-primary {
  background-color: var(--btn-primary-color);
  outline-color: var(--btn-primary-color);
}
.btn.btn-outline-primary {
  color: var(--btn-primary-color);
  outline-color: var(--btn-primary-color);
}
.btn.btn-primary:hover,
.btn.btn-outline-primary:hover {
  background-color: var(--btn-primary-color-hover);
  color: var(--white);
  outline-color: var(--btn-primary-color-hover);
}

.btn.btn-outline-secondary {
  outline-color: #6c757d;
}

.btn.btn-success {
  background-color: var(--success-bg-color);
  outline-color: var(--success-bg-color);
}
.btn.btn-outline-success {
  color: var(--success-bg-color);
  outline-color: var(--success-bg-color);
}

.btn.btn-outline-danger {
  outline-color: var(--danger-bg-color);
  color: var(--danger-text-color);
}
.btn.btn-outline-danger:hover {
  color: var(--white);
}
.btn.btn-outline-danger:focus-visible,
.btn.btn-outline-danger:focus {
  outline: 1px solid var(--danger-bg-color);
  color: var(--white);
  background-color: var(--danger-bg-color);
}
.btn.btn-danger {
  outline-color: var(--danger-bg-color);
  background-color: var(--danger-bg-color);
}
.btn.btn-danger:hover {
  color: var(--white);
}

/* check button */
.form-check-input:checked {
  box-shadow: inset 0 0 0 4px #fff;
  background-color: var(--btn-primary-color);
  border-color: var(--btn-primary-color);
}

.form-check-input:checked[type="radio"] {
  --bs-form-check-bg-image: none;
}

.form-check-input {
  width: 20px;
  height: 20px;
  background-color: var(--white);
  border: 2px solid var(--btn-primary-color);
  margin: 2px;
}

.form-check-label {
  padding: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.75rem;
  margin-bottom: 0;
  border-radius: 0.5rem;
  padding: 0;
}
.form-check {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0;
}
.form-check:not(:last-child) {
  margin-bottom: 0.5rem;
}

/* Checkbox */
.form-check-input:checked[type="checkbox"] {
  --bs-form-check-bg-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 18 18" fill="none"><path d="M7.6 13.2L14.65 6.15L13.25 4.75L7.6 10.4L4.75 7.55L3.35 8.95L7.6 13.2ZM2 18C1.45 18 0.979167 17.8042 0.5875 17.4125C0.195833 17.0208 0 16.55 0 16V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H16C16.55 0 17.0208 0.195833 17.4125 0.5875C17.8042 0.979167 18 1.45 18 2V16C18 16.55 17.8042 17.0208 17.4125 17.4125C17.0208 17.8042 16.55 18 16 18H2ZM2 16H16V2H2V16Z" fill="%23233D9B"/></svg>');
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 3px inset;
}

/* .form-check-input:checked[type=checkbox] {
    --bs-form-check-bg-image: none;
} */
