.btn.btn-primary, .btn.btn-outline-primary, .btn.btn-outline-success, .btn.btn-success {
    border: none;
    outline: 2px solid transparent;
    outline-offset: -2px;
}
.btn.btn-primary {
    background-color: var(--btn-primary-color);
    outline-color: var(--btn-primary-color);
}
.btn.btn-outline-primary {
    color: var(--btn-primary-color);
    outline-color: var(--btn-primary-color);
}
.btn.btn-primary:hover, .btn.btn-outline-primary:hover {
    background-color: var(--btn-primary-color-hover);
    color: var(--white);
    outline-color: var(--btn-primary-color-hover);
}

.btn.btn-outline-secondary {
    outline-color: #6c757d;
}

.btn.btn-success {
    background-color: var(--success-bg-color);
    outline-color: var(--success-bg-color);
}
.btn.btn-outline-success {
    color: var(--success-bg-color);
    outline-color: var(--success-bg-color);
}

/* check button */
.form-check-input:checked {
    box-shadow: inset 0 0 0 4px #fff;
    background-color: var(--btn-primary-color);
    border-color: var(--btn-primary-color);
}

.form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: none;
}

.form-check-input {
    width: 24px;
    height: 24px;
}

.form-check-label {
    padding: .25rem;
    padding-left: .5rem;
    padding-right: .75rem;
    margin-bottom: .5rem;
    border-radius: .5rem;
}

/* .form-check-input:checked[type=checkbox] {
    --bs-form-check-bg-image: none;
} */
