.text-secondary {
  color: var(--text-secondary-color) !important;
}
.text-danger {
  color: var(--danger-text-color) !important;
}
.text-info {
  color: var(--info-bg-color) !important;
}
/* Enlace */
a {
  color: var(--text-link-color);
}
a:hover {
  color: var(--text-link-color-hover);
}
/* Headings */
h1,
.h1 {
  font-weight: 200;
  font-size: 48px;
  line-height: 57.6px;
}
h2,
.h2 {
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
}
h3,
.h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 38.4px;
}
h4,
.h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28.8px;
}
h5,
.h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
h6,
.h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
}
/* Body */
.subtitle-1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.subtitle-2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}
.body-1 {
  font-weight: 400;
  font-size: var(--font-size-body-1);
  line-height: var(--line-height-body-1);
}
.body-2 {
  font-weight: 400;
  font-size: var(--font-size-body-2);
  line-height: var(--line-height-body-2);
}
.body-3,
small,
.small {
  font-weight: 400;
  font-size: var(--font-size-body-3);
  line-height: var(--line-height-body-3);
}
.caption-1 {
  font-weight: 400;
  font-size: var(--font-size-body-3);
  line-height: var(--line-height-body-3);
  text-transform: uppercase;
}
.caption-2 {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
}
.main-title {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  font-weight: 500;
  font-size: 24px;
  line-height: 28.8px;
}
@media (min-width: 992px) {
  .main-title {
    margin-bottom: 1.5rem;
    margin-top: 3rem;
    font-weight: 400;
    font-size: 32px;
    line-height: 38.4px;
  }
}

