.config-header,
.form-bg {
  background-color: white;
  padding: 1.5rem 1rem 0;
}
.form-bg {
  padding-bottom: 0.25rem;
}
@media (min-width: 992px) {
  .config-header {
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 1.5rem 1.5rem 0;
  }
  .form-bg {
    padding: 1.5rem 1.5rem 0;
  }
}
.nav-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 0.5rem;
  max-width: 328px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) {
  .nav-custom .nav-item {
    width: 100%;
    max-width: 100%;
  }
}
.nav-custom .nav-item .nav-link {
  background-color: var(--nav-item-bg);
  border-radius: 0.5rem;
  color: var(--bs-body-color);
  padding-top: 14.4px;
  padding-bottom: 14.4px;
  min-height: 48px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 992px) {
  .nav-custom .nav-item .nav-link {
    min-height: 56px;
    background-color: transparent;
  }
}
.nav-custom .nav-item .nav-link.active {
  color: var(--btn-primary-color);
  background-color: var(--nav-item-bg);
}
.nav-custom .nav-item .nav-link.active span:not(.material-symbols-outlined) {
  font-weight: 700;
}

.user-data {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1.5rem;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 992px) {
  .box-btn-mobile {
    background-color: var(--white);
    border-top: 1px solid var(--border-primary-color);
    border-radius: 1.5rem;
    padding: 1rem;
  }
  .alert-success-box {
    background-color: var(--bs-body-bg);
    margin-right: 1rem;
    padding-right: 0;
    width: 100%;
  }
  .alert-success-box .alert-success.alert-outline.alert-success {
    margin: 1rem;
    margin-top: 0.25rem;
    width: auto;
  }
  .box-btn-bg {
    background-color: var(--white);
  }
  .alert-success-box:has(.alert-success.alert-outline.alert-success)
    + .box-btn-bg {
    background-color: var(--bs-body-bg);
  }
}
@media (min-width: 992px) {
  .form-footer {
    border-radius: 0 0 1.5rem 1.5rem;
    margin-top: 0;
    display: flex;
    flex-direction: column-reverse;
  }
  .box-btn-bg {
    background-color: white;
    padding: 0 1.5rem 1.5rem;
    border-radius: 0 0 1.5rem 1.5rem;
  }
  .alert-success-box {
    padding-top: 1.5rem;
  }
}
