.contacts-container {
  background-color: var(--white);
  padding: 1rem 1rem 1.5rem;
  margin-bottom: 1rem;
}
@media (min-width: 576px) {
  .contacts-container {
    border-radius: 1.5rem;
  }
}
.contacts-container.custom-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.75rem;
}
.contacts-container.contacts-container-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 1rem;
}
.contacts-container.contacts-container-data .icon-container {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts-container.contacts-container-data .btn {
  width: fit-content;
}
/* Tabla en contactos */
.contacts-container.contacts-container-table {
  padding: 0;
}
.contacts-container.contacts-container-table th {
  padding: 1rem 0.5rem;
}
.contacts-container.contacts-container-table th:first-child {
  padding-left: 1rem;
}
.contacts-container.contacts-container-table td {
  padding: 1rem 0.5rem;
  border: none;
  vertical-align: middle;
}
.contacts-container.contacts-container-table td:nth-child(1) {
  padding: 1rem 0.5rem 1rem 1rem;
}
.contacts-container.contacts-container-table td:nth-child(1),
.contacts-container.contacts-container-table td:nth-child(2) {
  width: 136px;
}
.contacts-container.contacts-container-table td:nth-child(3) {
  padding: 1rem 1rem 1rem 0.5rem;
}
.contacts-container.contacts-container-table td:nth-child(3) .contact-actions {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.contacts-container.contacts-container-table td .btn-icon {
  border: none;
  padding: 0;
  margin: 0;
  max-height: 1.5rem;
}
@media (min-width: 992px) {
  .contacts-container {
    border-radius: 1.5rem;
    padding: 1.5rem;
  }
  .contacts-container.contacts-container-data {
    padding: 1.5rem;
  }
  .contacts-subtitle {
    max-width: 380px;
  }
  .contacts-container.custom-flex {
    gap: 0;
  }
  .contacts-container.contacts-container-table th:first-child,
  .contacts-container.contacts-container-table td:nth-child(1) {
    padding-left: 1.5rem;
    min-width: 240px;
  }
  .contacts-container.contacts-container-table td:nth-child(3) {
    padding: 1rem 1.5rem;
  }
  .contacts-container.contacts-container-table th:nth-child(2),
  .contacts-container.contacts-container-table td:nth-child(2) {
    min-width: 246px;
  }
  .contacts-container.contacts-container-table th:nth-child(3),
  .contacts-container.contacts-container-table td:nth-child(3) {
    min-width: 120px;
  }
}

.offcanvas-contacts {
  background-color: var(--white);
}
@media (min-width: 992px) {
  .offcanvas.offcanvas-end.offcanvas-contacts {
    width: 544px;
    border-radius: 1.5rem 0 0 1.5rem;
  }
}

.offcanvas-contacts .offcanvas-header {
  padding: 3rem 1rem 2rem;
}
.offcanvas-contacts .offcanvas-header .btn-close {
  background-image: none;
  background-color: var(--btn-close-bg);
  color: var(--bs-body-color);
  margin: 0;
  margin-left: auto;
  opacity: 1;
  z-index: 0;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 30px;
  width: 30px;
  box-sizing: border-box;
}

.offcanvas-contacts .offcanvas-header .btn-close .material-symbols-outlined {
  font-size: 14px;
  max-height: 14px;
  max-width: 14px;
}

.offcanvas-contacts .offcanvas-body {
  padding: 0;
}
.offcanvas-contacts .offcanvas-body .contactForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  justify-content: space-between;
  padding: 0 1rem 1.5rem;
}
.offcanvas-contacts .offcanvas-body .nameContacts {
  margin-bottom: 2rem;
  position: relative;
}

.offcanvas-contacts .offcanvas-body .form-subtitle {
  margin-bottom: 0.75rem;
}
.offcanvas-contacts .offcanvas-body .btn-primary {
  width: 100%;
}

@media (min-width: 992px) {
  .offcanvas-contacts .offcanvas-header {
    padding: 3rem 1.5rem 2rem;
  }
  .offcanvas-contacts .offcanvas-body .contactForm {
    padding: 0 1.5rem 3rem;
  }
  .offcanvas-contacts .offcanvas-body .btn-primary {
    width: inherit;
  }
}
