.user-data {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1.5rem;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .user-data {
    margin-bottom: 1.5rem;
  }
}
.config-header,
.form-bg {
  background-color: var(--white);
}
.form-bg {
  padding: 1.5rem 1rem;
}
.config-header {
  padding: 1rem 1rem 0;
}
@media (min-width: 576px) {
  .config-header {
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 1.5rem 1.5rem 0;
  }
  .form-bg {
    padding: 1.5rem;
  }
}
.aside-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 0.5rem;
  max-width: 328px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) {
  .aside-nav .nav-item {
    width: 100%;
    max-width: 100%;
  }
}
.aside-nav .nav-item .nav-link {
  background-color: var(--nav-item-bg-hover);
  border-radius: 0.5rem;
  color: var(--bs-body-color);
  padding: 1rem;
  min-height: 48px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
}

@media (min-width: 992px) {
  .aside-nav .nav-item .nav-link {
    min-height: 56px;
    background-color: transparent;
  }
}
.aside-nav .nav-item .nav-link:hover {
  color: var(--text-link-color);
  background-color: var(--nav-item-bg-hover);
}
.aside-nav .nav-item .nav-link:focus {
  box-shadow: 0 0 0 0.25rem var(--btn-primary-border-focus);
}
.aside-nav .nav-item .nav-link.active,
.aside-nav .nav-item .nav-link:active {
  color: var(--text-link-color);
  background-color: var(--nav-item-bg-active);
}
.aside-nav .nav-item .nav-link.active span:not(.material-symbols-outlined) {
  font-weight: 700;
}
@media (max-width: 576px) {
  .form-footer {
    margin-bottom: 1.5rem;
  }
  .form-footer .box-btn-mobile {
    background-color: var(--white);
    border-top: 1px solid rgba(35, 61, 155, 0.1);
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 1rem;
    margin-top: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
@media (min-width: 576px) {
  .form-footer {
    border-radius: 0 0 1.5rem 1.5rem;
    margin-top: 0;
    display: flex;
    flex-direction: column-reverse;
  }
  .form-footer .box-btn-mobile {
    background-color: var(--white);
    padding: 0 1.5rem 1.5rem;
    border-radius: 0 0 1.5rem 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
  }
}
