/* HEADER Y SCROLLSPY */
.header-landing {
  position: sticky;
  top: 0;
  z-index: 9999;
}
.header-landing .navbar {
  padding: 1rem 0;
  background-color: white;
}
@media screen and (max-width: 992px) {
  .header-landing .navbar {
    padding: 1.5rem 0;
  }
  .navbar .offcanvas-container-top.bg-offcanvas {
    background-color: var(--bs-body-bg);
  }
}
.navbar .offcanvas-container-top.bg-offcanvas .dropdown-menu {
  background-color: var(--bs-body-bg);
}
.navbar .header-login {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 1.5rem;
  margin: 28px 0;
}
.navbar .header-login .btn {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .navbar .header-login {
    margin: 0;
  }
  .navbar .header-login .btn {
    width: fit-content;
  }

  .navbar
    .offcanvas-body
    .offcanvas-container-top.bg-offcanvas
    .offcanvas-link__text {
    flex-direction: row;
  }
}
.navbar .offcanvas-body .offcanvas-container-top hr.landing-divisor {
  margin: 28px 0;
  background-color: var(--border-primary-color);
}
@media screen and (max-width: 992px) {
  .navbar .nav-scrollspy .nav-pills {
    flex-direction: column;
    gap: 28px;
    padding-top: 0.25rem;
  }
  .navbar .nav-scrollspy .nav-pills .nav-link {
    font-weight: 400;
    font-size: 32px;
    line-height: 38.4px;
  }
}
.navbar .nav-scrollspy .nav-pills .nav-link {
  padding: 0;
  color: var(--text-main-color);
}
.navbar .nav-scrollspy .nav-pills .nav-link.active {
  font-weight: 700;
  background-color: transparent;
}
@media screen and (min-width: 992px) {
  .navbar .nav-scrollspy .nav-pills {
    gap: 24px;
  }
}
/* SECCION HOME */
.section-home {
  background-color: var(--bs-body-bg);
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-home .home {
  display: flex;
  flex-direction: column-reverse;
  max-width: 328px;
  margin: 0 auto;
  gap: 32px;
}
.section-home .home .home-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.section-home .home .home-text .home-text_title {
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 400;
}
.section-home .home .home-img img {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .section-home .home {
    flex-direction: row;
    max-width: unset;
    justify-content: space-between;
    align-items: center;
  }
  .section-home .home .home-text {
    max-width: 447px;
  }
  .section-home .home .home-text .home-text_title {
    font-size: 44px;
  }
  .section-home .home .home-text .btn {
    width: fit-content;
  }
  .section-home .home .home-img img {
    width: 447px;
  }
}
/* SECCION BENEFITS */
.section-benefits {
  background-color: #072594;
  color: white;
  border-radius: 0 0 3rem 3rem;
  padding: 3rem 0;
}
.section-benefits .section-benefits-title {
  text-align: center;
  font-weight: 300;
  font-size: 32px;
  line-height: 38.4px;
  margin-bottom: 32px;
}

.section-benefits-container {
  display: flex;
  row-gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}
.benefits-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 328px;
}
.benefits-item .icon-box .material-symbols-outlined {
  background-color: white;
  border-radius: 50%;
  font-size: 40px;
  color: var(--btn-primary-color);
  padding: 20px;
}

@media screen and (min-width: 992px) {
  .section-benefits {
    padding: 5rem 0;
    background-image: url("../../../../img/landing/benefits-bg.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
  }
  .section-benefits .section-benefits-title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 48px;
  }
  .section-benefits-container {
    justify-content: space-between;
    row-gap: 48px;
  }
  .benefits-item {
    gap: 1.5rem;
    max-width: 288px;
  }
  .benefits-item .icon-box .material-symbols-outlined {
    font-size: 3rem;
    padding: 26px;
  }
  .benefits-item .text-box {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
  }
}

.section-listen {
  margin: 3rem 0;
}
.section-listen-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 38.4px;
  max-width: 607px;
  margin-bottom: 1rem;
}
.section-listen-container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
  max-width: 328px;
  margin: 0 auto;
}
.listen-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  max-width: 328px;
  background-color: var(--bs-body-bg);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.listen-item .icon-box {
  max-height: 36px;
}
.listen-item .icon-box .material-symbols-outlined {
  font-size: 36px;
  width: 36px;
  height: 36px;
  max-height: 36px;
}
.listen-item:nth-of-type(3n-2) .icon-box .material-symbols-outlined {
  color: var(--btn-primary-color);
}
.listen-item:nth-child(3n-1) .icon-box .material-symbols-outlined {
  color: #23619b;
}
.listen-item:nth-child(3n) .icon-box .material-symbols-outlined {
  color: #9b2379;
}
.listen-item .text-box {
  font-weight: 300;
  font-size: 18px;
  line-height: 21.6px;
}
@media screen and (min-width: 992px) {
  .section-listen {
    margin: 100px 0;
  }
  .section-listen-title {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 2rem;
  }
  .section-listen-container {
    justify-content: flex-start;
    margin-bottom: 5rem;
    max-width: 100%;
  }
  .listen-item {
    max-width: 457.5px;
  }
  .listen-item .text-box {
    font-size: 24px;
    line-height: 28.8px;
  }
}

/* SECCION PRIVACY */
.section-privacy {
  margin: 3rem 0;
}
.section-privacy-title {
  font-weight: 300;
  font-size: 32px;
  line-height: 38.4px;
  margin-bottom: 1.5rem;
}
.privacy-link {
  display: flex;
  gap: 8px;
  align-items: center;
  text-decoration: none;
  margin-top: 1.5rem;
}
.privacy-link .text {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.privacy-link .material-symbols-outlined {
  font-size: 20px;
  width: 20px;
  height: 20px;
  font-weight: 600;
}

.section-privacy-container {
  display: flex;
  gap: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 328px;
  margin: 0 auto;
}
.section-privacy-container .privacy-img img {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .section-privacy {
    margin: 100px 0;
  }
  .section-privacy-title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 3rem;
  }
  .section-privacy-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0;
    max-width: 100%;
  }
  .section-privacy-container .privacy-img,
  .section-privacy-container .privacy-text {
    width: 447px;
  }
  .section-privacy-container .privacy-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
  }
  .privacy-link {
    margin-top: 48px;
  }
}
