/* HEADER Y SCROLLSPY */
.header-landing {
  position: sticky;
  top: 0;
  z-index: 9999;
}
.header-landing .navbar {
  padding: 1rem 0;
  background-color: white;
}
@media screen and (max-width: 992px) {
  .header-landing .navbar {
    padding: 1.5rem 0;
  }
  .navbar .offcanvas-container-top.bg-offcanvas {
    background-color: var(--bs-body-bg);
  }
  .navbar .offcanvas-container-top.bg-offcanvas .dropdown-menu {
    background-color: var(--bs-body-bg);
  }
}
.navbar .offcanvas-container-top.bg-offcanvas .btn.dropdown-toggle:focus {
  box-shadow: none;
}
.navbar
  .offcanvas-container-top.bg-offcanvas
  .btn.dropdown-toggle:focus-visible {
  box-shadow: 0 0 0 0.25rem var(--btn-primary-border-focus);
}
@media screen and (min-width: 992px) {
  .navbar .offcanvas-container-top.bg-offcanvas .dropdown-menu {
    min-width: 110px;
    max-width: 110px;
  }
  .navbar .offcanvas-container-top.bg-offcanvas .dropdown-menu .dropdown-item {
    padding: 0.25rem 1rem;
  }
  .navbar .offcanvas-container-top.bg-offcanvas #dropdownLanguageButtonText {
    letter-spacing: -0.75px;
    min-width: 55px;
  }
}
.navbar .header-login {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 1.5rem;
  margin: 28px 0;
}
.navbar .header-login .btn {
  width: 100%;
}
.navbar .header-login .btn.btn-outline-primary:focus-visible {
  background-color: transparent;
  color: var(--btn-primary-color-hover);
}
@media screen and (min-width: 992px) {
  .navbar .header-login {
    margin: 0;
  }
  .navbar .header-login .btn {
    width: fit-content;
  }

  .navbar
    .offcanvas-body
    .offcanvas-container-top.bg-offcanvas
    .offcanvas-link__text {
    flex-direction: row;
  }
}
.navbar .offcanvas-body .offcanvas-container-top hr.landing-divisor {
  margin: 28px 0;
  background-color: var(--border-primary-color);
}
@media screen and (max-width: 992px) {
  .navbar .nav-scrollspy .nav-pills {
    flex-direction: column;
    gap: 28px;
    padding-top: 0.25rem;
  }
  .navbar .nav-scrollspy .nav-pills .nav-link {
    font-weight: 400;
    font-size: 32px;
    line-height: 38.4px;
  }
}
.navbar .nav-scrollspy .nav-pills .nav-link {
  padding: 0;
  color: var(--text-main-color);
}
.navbar .nav-scrollspy .nav-pills .nav-link:focus-visible {
  box-shadow: 0 0 0 0.25rem var(--btn-primary-border-focus);
}
.navbar .nav-scrollspy .nav-pills .nav-link.active {
  font-weight: 700;
  background-color: transparent;
}
@media screen and (min-width: 992px) {
  .navbar .nav-scrollspy .nav-pills {
    gap: 24px;
  }
}
/* SECCION HOME */
.section-home {
  background-color: var(--bs-body-bg);
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-home .home {
  display: flex;
  flex-direction: column-reverse;
  max-width: 328px;
  margin: 0 auto;
  gap: 30px;
}
.section-home .home .home-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 3rem;
}
.section-home .home .home-text .home-text_title {
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 400;
}
.section-home .home .home-text .btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  padding: 8px 16px;
}
.section-home .home .home-img img {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .section-home .home {
    flex-direction: row;
    max-width: unset;
    justify-content: space-between;
    align-items: center;
  }
  .section-home .home .home-text {
    max-width: 447px;
    max-width: 450px;
    margin-top: 1.5rem;
  }
  .section-home .home .home-text .home-text_title {
    font-size: 44px;
    line-height: 53px;
  }
  .section-home .home .home-text .btn {
    width: fit-content;
  }
  .section-home .home .home-img img {
    width: 447px;
    max-width: 450px;
  }
}
/* SECCION BENEFITS */
.section-benefits {
  background-color: #072594;
  color: white;
  border-radius: 0 0 3rem 3rem;
  padding: 3rem 0;
}
.section-benefits .section-benefits-title {
  text-align: center;
  font-weight: 300;
  font-size: 32px;
  line-height: 38.4px;
  margin-bottom: 32px;
}

.section-benefits-container {
  display: flex;
  row-gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}
.benefits-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 328px;
}
.benefits-item .icon-box .material-symbols-outlined {
  background-color: white;
  border-radius: 50%;
  font-size: 40px;
  color: var(--btn-primary-color);
  padding: 20px;
}

@media screen and (min-width: 992px) {
  .section-benefits {
    padding: 5rem 0;
    background-image: url("../../img/landing/benefits-bg.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
  }
  .section-benefits .section-benefits-title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 48px;
  }
  .section-benefits-container {
    justify-content: space-between;
    row-gap: 48px;
  }
  .benefits-item {
    gap: 1.5rem;
    max-width: 288px;
  }
  .benefits-item .icon-box .material-symbols-outlined {
    font-size: 3rem;
    padding: 26px;
  }
  .benefits-item .text-box {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
  }
}

.section-listen {
  margin: 3rem 0;
}
.section-listen-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 38.4px;
  max-width: 607px;
  margin-bottom: 1.5rem;
}
.section-listen-container {
  display: flex;
  gap: 8px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  max-width: 328px;
  margin: 0 auto 8px;
}
.listen-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  max-width: 328px;
  background-color: var(--bs-body-bg);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.listen-item .icon-box {
  max-height: 36px;
}
.listen-item .icon-box .material-symbols-outlined {
  font-size: 36px;
  width: 36px;
  height: 36px;
  max-height: 36px;
}
.listen-item:nth-of-type(3n-2) .icon-box .material-symbols-outlined {
  color: var(--btn-primary-color);
}
.listen-item:nth-child(3n-1) .icon-box .material-symbols-outlined {
  color: #23619b;
}
.listen-item:nth-child(3n) .icon-box .material-symbols-outlined {
  color: #9b2379;
}
.listen-item .text-box {
  font-weight: 300;
  font-size: 18px;
  line-height: 21.6px;
}
@media screen and (min-width: 992px) {
  .section-listen {
    margin: 100px 0;
  }
  .section-listen-title {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 2rem;
  }
  .section-listen-container {
    justify-content: flex-start;
    margin: 0 0 5rem;
    width: 100%;
    max-width: 457.5px;
    
  }
  .listen-item {
    max-width: 457.5px;
  }
  .listen-item .text-box {
    font-size: 24px;
    line-height: 28.8px;
  }
}

/* SECCION PRIVACY */
.section-privacy {
  margin: 3rem 0;
}
.section-privacy-title {
  font-weight: 300;
  font-size: 32px;
  line-height: 38.4px;
  margin-bottom: 1.5rem;
}
.privacy-link {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  text-decoration: none;
  margin-top: 1.5rem;
}
.privacy-link:active {
  color: var(--text-link-color-hover);
}
.privacy-link:focus {
  box-shadow: 0 0 0 0.25rem var(--btn-primary-border-focus);
  color: #3754bd;
  border-radius: 0.25rem;
  outline: none;
}
.privacy-link .text {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.privacy-link .material-symbols-outlined {
  font-size: 20px;
  width: 20px;
  height: 20px;
  font-weight: 600;
}

.section-privacy-container {
  display: flex;
  gap: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 328px;
  margin: 0 auto;
}
.section-privacy-container .privacy-img img {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .section-privacy {
    margin: 100px 0;
  }
  .section-privacy-title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 3rem;
  }
  .section-privacy-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0;
    max-width: 100%;
  }
  .section-privacy-container .privacy-img,
  .section-privacy-container .privacy-text {
    width: 447px;
  }
  .section-privacy-container .privacy-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
  }
  .privacy-link {
    margin-top: 48px;
  }
}

/* PRICING */
.card.card-free {
  background-color: #fff !important;
  border-radius: 16px;
  border: 1px solid #233d9b;
}
.card.card-pro {
  background: linear-gradient(
    155deg,
    rgba(20, 42, 121, 1) 16%,
    rgba(55, 84, 189, 1) 72%,
    rgba(213, 219, 243, 1) 100%
  );
  color: #fff;
  border-radius: 16px;
  border: none;
}
.card.card-free .card-body,
.card.card-pro .card-body {
  padding: 32px;
}
.badge.badge-ozer {
  background-color: rgba(35, 61, 155, 0.5);
  text-transform: uppercase;
  border-radius: 8px;
}
.badge.badge-ozer.badge-pro {
  background-color: rgba(255, 255, 255, 0.5);
}
.list-card-ozer {
  margin-bottom: 24px;
  margin-top: 24px;
}
.list-card-ozer li:not(:last-child) {
  margin-bottom: 20px;
}
.btn-outline-light:hover {
  color: var(--btn-primary-color);
}
.btn-outline-light:focus {
  box-shadow: 0 0 0 0.25rem var(--btn-primary-border-focus);
  border: none;
}
a.btn.btn-lg.btn-primary.btn-card-pricing,
a.btn.btn-lg.btn-outline-light.btn-card-pricing {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  padding: 8px 16px;
}

@media screen and (min-width: 992px) {
  a.btn.btn-lg.btn-primary.btn-card-pricing,
  a.btn.btn-lg.btn-outline-light.btn-card-pricing {
    display: inline-block;
  }
}

/* FAQS */
.section-faq-container {
  margin: 3.75rem 0;
}
.accordion-item {
  margin-bottom: 16px;
}
.accordion {
  border-radius: 16px;
}
.accordion-button {
  background-color: #f5f7fd !important;
  font-weight: 700;
  padding: 16px 24px;
  height: 56px;
  border-radius: 16px;
  line-height: normal;
}
.accordion-button:after {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%231E2024"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>');
}
.accordion-button:not(.collapsed)::after {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%231E2024"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>');
}
.accordion-button:after, .accordion-button:not(.collapsed)::after {
  height: 1.5rem;
  width: 1.5rem;
  max-width: 1.5rem;
  background-size: 1.5rem;
}
.accordion-button:not(.collapsed) {
  box-shadow: none;
  color: var(--bs-body-color);
}
.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem #081957;
}
.accordion-button:focus(.collapsed) {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.accordion-button:focus:not(.collapsed):not(:focus-visible) {
  outline: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.accordion-body {
  background-color: #fff;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
.accordion-button:not(.collapsed) {
  background-color: #f5f7fd;
}
.accordion-item:first-of-type {
  border-radius: 16px;
}
.accordion-item:first-of-type > .accordion-header .accordion-button {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.accordion-item:not(:first-of-type),
.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
  border-radius: 16px;
  border-top: 1px solid #dee2e6;
}
.accordion-item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 992px) {
  .section-faq-container {
    margin: 100px 0;
  }
}
/* SECCION CONTACTO */
.section-landing-contact {
  margin: 3rem 0 0;
  padding-bottom: 3rem;
}
.section-landing-contact-title {
  font-weight: 300;
  font-size: 32px;
  line-height: 38.4px;
  margin-bottom: 1.25rem;
}
.section-landing-contact-container {
  display: flex;
  gap: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 328px;
  margin: 0 auto;
}
.section-landing-contact-container .landing-contact-text {
  width: 100%;
}
/* FORM */
.landing-contact-form__label {
  font-weight: 400;
  font-size: var(--font-size-body-2);
  line-height: var(--line-height-body-2);
  margin-bottom: 0.5rem;
}
.landing-contact-form__label.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing-contact-form__input {
  display: block;
  height: 48px;
  width: 100%;
  appearance: none;
  background-color: var(--white);
  font-weight: 400;
  font-size: var(--font-size-body-2);
  line-height: var(--line-height-body-2);
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: inset 0 0 0 1px var(--border-primary-color);
}
.landing-contact-form__input:focus {
  background-color: var(--white);
  border: none;
  outline: 0;
  box-shadow: inset 0 0 0 0.125rem var(--btn-primary-color);
}
.landing-contact-form__input::placeholder {
  color: rgba(0, 0, 0, 0.35);
}
.landing-contact-form__input.is-invalid {
  background-image: none;
  box-shadow: inset 0 0 0 1px var(--danger-bg-color);
}
.landing-contact-form__input.is-invalid:focus {
  box-shadow: inset 0 0 0 0.125rem var(--danger-border-color);
}
.landing-contact-form__input.message {
  height: unset;
  min-height: 161px;
}

.landing-contact-form .btn-primary {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  padding: 8px 16px;
}
.landing-contact-form-success p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}
@media screen and (min-width: 992px) {
  .section-landing-contact {
    margin: 100px 0 0;
    padding-bottom: 100px;
  }
  .section-landing-contact-title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 2.75rem;
  }
  .section-landing-contact-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 100%;
    gap: unset;
  }
  .section-landing-contact-container .landing-contact-img,
  .section-landing-contact-container .landing-contact-text {
    width: 447px;
  }

  .landing-contact-form-success {
    margin-top: -24px;
  }
}

/* FOOTER */
.footer-landing {
  position: relative;
  margin-top: 12px;
}
.footer-landing .footer-bg-1,
.footer-landing .footer-bg-2,
.footer-landing .footer-bg-3 {
  position: absolute;
  background-color: rgba(8, 25, 87, 0.5);
  width: 68%;
  max-width: 926px;
  height: 344px;
  border-radius: 3rem;
  top: -48px;
  left: 50%;
  transform: translateX(-50%);
}
.footer-landing .footer-bg-2 {
  background-color: rgba(8, 25, 87, 0.75);
  max-width: 1144px;
  width: 84%;
  top: -24px;
}
.footer-landing .footer-bg-3 {
  background-color: rgb(8, 25, 87);
  border-radius: 1.5rem 1.5rem 0 0;
  width: 100%;
  max-width: 100%;
  top: 0;
  padding: 3rem 0 2rem;
  color: white;
  height: unset;
}
.footer-landing .footer-brand {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: flex-start;
}
.footer-landing .footer-brand .footer-brand-logo {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
}
.footer-landing .footer-brand .footer-brand-logo span {
  font-weight: 500;
  font-size: 24px;
  line-height: 28.8px;
}
.footer-landing .footer-brand .btn {
  width: 100%;
}

.footer-landing .footer-links {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: flex-start;
  margin: 40px 0 48px;
}
.footer-landing .footer-links .footer-links-sections {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: flex-start;
}
.footer-landing .footer-links-sections-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}
.footer-landing .footer-links-sections-title {
  font-size: var(--font-size-body-2);
  line-height: var(--line-height-body-2);
}
.footer-landing a {
  color: white;
  display: block;
}
.footer-landing a:hover {
  color: #f0f0f0;
}
.footer-landing a:focus,
.footer-landing a:focus-visible {
  color: white;
  box-shadow: 0 0 0 0.25rem #081957;
  outline: none;
}
.footer-landing a:active {
  color: #dddddd;
}

.footer-landing .footer-end {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3rem;
  gap: 1rem;
}
.footer-landing hr {
  background-color: rgba(255, 255, 255, 0.25);
}
.btn-primary.dark-mode {
  background-color: white;
  outline: 1px solid white;
  color: #2e49a5;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  padding: 8px 16px;
}
.btn-primary.dark-mode:active,
.btn-primary.dark-mode:hover {
  background-color: #f0f0f0;
  outline-color: #f0f0f0;
  color: #2e49a5;
  font-weight: 500;
}
.btn-primary.dark-mode:focus {
  background-color: transparent;
  color: white;
  box-shadow: 0 0 0 0.25rem #081957;
  font-weight: 500;
  outline: 0;
}
@media screen and (min-width: 992px) {
  .footer-landing {
    margin-top: 5rem;
  }
  .footer-landing .footer-bg-3 {
    border-radius: 3rem 3rem 0 0;
  }
  .footer-landing .footer-brand .btn {
    width: fit-content;
  }
  .footer-landing .footer-brand .footer-brand-logo {
    margin-bottom: 44px;
  }
  .footer-landing .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 48px;
  }
  .footer-landing .footer-links {
    flex-direction: row;
    gap: 96px;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 32px 0;
  }
  .footer-landing .footer-links-sections-link {
    font-size: var(--font-size-body-1);
    line-height: var(--line-height-body-1);
  }
  .footer-landing .footer-links-sections-title {
    font-size: var(--font-size-body-3);
    line-height: var(--line-height-body-3);
  }
  .footer-landing .x-img-media {
    width: 24px;
    height: 24px;
  }
  .footer-landing .footer-end {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
  }
  .footer-landing .footer-end a {
    display: inline-block;
  }
  .btn-primary.dark-mode {
    background-color: transparent;
    color: white;
    font-weight: 500;
  }
  .btn-primary.dark-mode:hover {
    background-color: white;
    color: #2e49a5;
    font-weight: 500;
  }
  .btn-primary.dark-mode:active {
    background-color: #f0f0f0;
    color: #2e49a5;
    font-weight: 500;
    outline-color: #f0f0f0;
  }
  .btn-primary.dark-mode:focus {
    background-color: transparent;
    color: white;
    box-shadow: 0 0 0 0.25rem #081957;
    font-weight: 500;
  }
}
/* SECCION DESTACADO */
.section-highlighted {
  margin: 3.75rem 0;
  border-radius: 24px;
  background-image: url("../../img/landing/image-block-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-highlighted .section-highlighted-container {
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: rgba(35, 61, 155, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  color: white;
}
.section-highlighted .section-highlighted-container .section-highlighted-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 0.5rem;
}
.section-highlighted .section-highlighted-container .section-highlighted-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 0;
}
.section-highlighted .section-highlighted-container .btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  padding: 8px 16px;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .section-highlighted {
    margin: 100px 0;
    background-image: url("../../img/landing/image-block.svg");
  }
  .section-highlighted .section-highlighted-container {
    padding: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }
  .section-highlighted .section-highlighted-container .btn {
    width: fit-content;
  }
}
