:root {
    --bs-body-bg: #F5F7FD;
    --white: #FFFFFF;
    --btn-primary-color: #233D9B;
    --btn-primary-color-hover: #142A79;
    --btn-primary-border-focus: #081957;
    --btn-primary-color-active: #081957;
    --text-link-color: #3754BD;
    --text-link-color-hover: #233D9B;
    --bs-body-color: #1E2024;
    --text-main-color: #1E2024;
    --text-secondary-color: #464951;
    --border-primary-color: #DCDDE0;

    --btn-close-bg: #E9ECF5;

    --nav-item-bg-hover: rgba(35, 61, 155, 0.05);
    --nav-item-bg-active: rgba(35, 61, 155, 0.1);

    --success-bg-color: #408559;
    --success-secondary-bg-color: #D6E6DE;
    --success-border-color: #ACCEBC;
    --success-text-color: #183524;
    
    --danger-bg-color: #CB444B;
    --danger-secondary-bg-color: #F3D8DB;
    --danger-border-color: #E7B1B6;
    --danger-text-color: #511A1E;

    --warning-bg-color: #F6C244;
    --warning-secondary-bg-color: #FDF3D1;
    --warning-border-color: #FCE6A5;
    --warning-text-color: #634E17;

    --info-bg-color: #5BC8EC;
    --info-secondary-bg-color: #D6F3FB;
    --info-border-color: #AEE8F7;
    --info-text-color: #21505E;

    --font-family: "Exo 2", sans-serif, var(--bs-body-font-family);

    --font-size-body-1: 16px;
    --font-size-body-2: 14px;
    --font-size-body-3: 12px;

    --line-height-body-1: 19.2px;
    --line-height-body-2: 16.8px;
    --line-height-body-3: 14.4px;

    --invalid-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none"><path d="M8.00004 11.8335C8.18893 11.8335 8.34726 11.7696 8.47504 11.6418C8.60282 11.5141 8.66671 11.3557 8.66671 11.1668C8.66671 10.9779 8.60282 10.8196 8.47504 10.6918C8.34726 10.5641 8.18893 10.5002 8.00004 10.5002C7.81115 10.5002 7.65282 10.5641 7.52504 10.6918C7.39726 10.8196 7.33337 10.9779 7.33337 11.1668C7.33337 11.3557 7.39726 11.5141 7.52504 11.6418C7.65282 11.7696 7.81115 11.8335 8.00004 11.8335ZM7.33337 9.16683H8.66671V5.16683H7.33337V9.16683ZM8.00004 15.1668C7.07782 15.1668 6.21115 14.9918 5.40004 14.6418C4.58893 14.2918 3.88337 13.8168 3.28337 13.2168C2.68337 12.6168 2.20837 11.9113 1.85837 11.1002C1.50837 10.2891 1.33337 9.42238 1.33337 8.50016C1.33337 7.57794 1.50837 6.71127 1.85837 5.90016C2.20837 5.08905 2.68337 4.3835 3.28337 3.7835C3.88337 3.1835 4.58893 2.7085 5.40004 2.3585C6.21115 2.0085 7.07782 1.8335 8.00004 1.8335C8.92226 1.8335 9.78893 2.0085 10.6 2.3585C11.4112 2.7085 12.1167 3.1835 12.7167 3.7835C13.3167 4.3835 13.7917 5.08905 14.1417 5.90016C14.4917 6.71127 14.6667 7.57794 14.6667 8.50016C14.6667 9.42238 14.4917 10.2891 14.1417 11.1002C13.7917 11.9113 13.3167 12.6168 12.7167 13.2168C12.1167 13.8168 11.4112 14.2918 10.6 14.6418C9.78893 14.9918 8.92226 15.1668 8.00004 15.1668ZM8.00004 13.8335C9.48893 13.8335 10.75 13.3168 11.7834 12.2835C12.8167 11.2502 13.3334 9.98905 13.3334 8.50016C13.3334 7.01127 12.8167 5.75016 11.7834 4.71683C10.75 3.6835 9.48893 3.16683 8.00004 3.16683C6.51115 3.16683 5.25004 3.6835 4.21671 4.71683C3.18337 5.75016 2.66671 7.01127 2.66671 8.50016C2.66671 9.98905 3.18337 11.2502 4.21671 12.2835C5.25004 13.3168 6.51115 13.8335 8.00004 13.8335Z" fill="%23CB444B"/></svg>');

  }